*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: rgb(0,30,60,0.2);
}
.mobut{
    display:none;
}
.name{
    color: #EEE1D7;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

.name a{

  color: #EEE1D7;
  text-decoration: none;

}

 a:hover{
  background-color: rgb(193, 193, 194);
  color: #EEE1D7;
}

 li.active a{ 
  background-color: rgb(193, 193, 194);
  color: #EEE1D7;
}



.bar1{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    
}

.bar1 a{
    color: #EEE1D7;
    text-decoration: none;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;

   
    
}


.drop{
    
    display:none;
}

li:hover{
    background-color: rgb(193, 193, 194);
    
}

.down:hover .drop{

    position: absolute;
    display: none;
    margin-top: 10px;
    background-color: #001E3C;
    margin-left: -19.5px;
}

body {
    font-family: 'sans-serif', Arial, Helvetica;
    background-image: linear-gradient( rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.5) ),url('addationalResources.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

header{
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 220px;
}

  #box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
   
  }
  

 #list li{
    text-align: center;
    justify-content: left;
  }

  #list{
      list-style: none;
      padding: 50px 50px;
      border: 1px solid transparent;
      transition: 0.4s ease;
  }

  #list a{
      font-weight: 900;
      color: white;
  }

  #list a:visited {
    color: lightgreen;
  }

  #search{
    width: 100%;
    max-width: 300px;
    padding: 7px 7px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 20px;
    font-weight: 100;
    border-bottom-color: blue;
  }
   ::placeholder{
       color: white;
   }
