*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: 		rgb(62,46,33,0.2);
}

.mobut{
    display: none;
}

.name{
    color: 	#b3a196;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

.name a{

    color: 	#b3a196;
    text-decoration: none;
}

ul{
    float: right;
    list-style-type: none;
    margin: 20px;
  }
  
  li{
    display: inline-block;
  }
  
  ul a{
    text-decoration: none;
    color: #b3a196;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.4s ease;
  }
  
  a:hover{
    background-color: #d96f25;
    color: #b3a196;
  }
  
  li.active a{ 
    background-color: #d96f25;
    color: #b3a196;
  }
  

.bar1{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    
}

.bar1 a{
    color: 	#b3a196;
    text-decoration: none;
    font-size: 20px;
   
    
}


.drop{
    
    display:none;
}

li:hover{
    background-color: 			#d96f25;
    
}

.down:hover .drop{

    position: absolute;
    display: none;
    margin-top: 10px;
    background-color:		#3e2e21;
    margin-left: -19.5px;
}



body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image:linear-gradient( rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.5) ), url('sealevel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
  }

 #title{
     padding-top: 100px;
     padding-bottom: 10px;
     text-align: center;
     text-shadow: 0px 3px rgba(0, 0, 0, 0.1);
     color: whitesmoke;
     font-size: 30px;
     text-decoration: underline;
     font-weight: bold;
 }

 #myChart{
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: 10px;
    position: absolute;
}

@media only screen and (max-width: 500px){
    nav{
        display: flex;
        background-color: rgb(62,46,33,0);
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 18%;

    }
        
    h3.name{
        color: #b3a196;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        margin: 0 auto;
        text-align: center;
        font-size-adjust: inherit;
        padding: 20px;
    }
    
    ul{
        list-style-type: none;
        margin-left: 5px;
    }
        
    li{
        float: left;
        padding-bottom: 0px;
    }
        
    .bar1 a{
        text-decoration: none;
        text-size-adjust: inherit;
        color: #b3a196;
        padding: 0px 20px;
        border: 1px solid transparent;
        transition: 0.4s ease;
    }
        
    .bar1 a:hover{
        background-color: #d96f25;
        color: black;
    }
        
    li.active a{ 
        background-color: #d96f25;
        color: black;
    }  

    body{
        background-attachment: fixed;
        background-size: cover;
        background-repeat: repeat-y;
    }

}